aside {
    width: 16.8%;//230px
    height: 100vh; //746px
    box-shadow: 2px 0 3px #00000029;
    position: fixed;
    @include tab {
        display: none;
    }
    li {
        font-size: 1.4rem;
        border: 1px solid #F0F0F0;
        height: 56px;
        line-height: 56px;
        position: relative;
        padding-left: 38px;
        &:after {
            content: '';
            width: 10px;
            height: 10px;
            margin-top: -5px;
            border-top: solid 3px #CCCCCC;
            border-right: solid 3px #CCCCCC;
            transform: rotate(45deg);
            position: absolute;
            top: 29px;
            right: 30px;
        }
    }
    li:hover {
        color: white;
        background-color: #222222;
        &:after {
            border-top: solid 3px white;
            border-right: solid 3px white;
        }
    }
}