//-----------------//
//      mixin      //
//-----------------//

@mixin pc {
    @media screen and (min-width: 960px) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: 959px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 600px) {
        @content;
    }
}

//-----------------//
//      共通
//-----------------//
html {
    font-size: 62.5%;  //10px remに対応している
}
body {
    font-size: 14px;
}

.container {
    width: 83.2%; //1136px
    margin: 0 0 0 auto;
    @include tab {
        width: 100%;
        margin: 0;
    }
}

.main-wrap {
    width: 100%;
    height: auto;
    padding: 58px 50px 85px;
    display: flex;
    justify-content: space-between;
    @include sp {
        padding: 30px 20px;
    }
}

